
.root { /* Esto afecta a TODOS los elementos de la ventana de la Configuración */

}


/******************/
/***** BOTONES ****/
/******************/
.cv-btn {
	-fx-font-size: 12pt;
	-fx-background-color: transparent ;
	-fx-background-radius: 5px;
	-fx-text-fill: green;
	-fx-border-width: 3px;
	-fx-border-color: green;
	-fx-border-radius: 5px;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}
.cv-btn-carpetaImatgesSelectbtn {

}
.cv-btn-carpetaImatgesOpenbtn {

}
.cv-btn-carpetaPrinterSelectbtn {

}
.cv-btn-carpetaPrinterOpenbtn {

}
.cv-btn-minimBtn {

}
.cv-btn-fullscreenBtn {

}
.cv-btn-closeBtn {

}
.cv-btn-accepts {

}
.cv-btn-cancel {

}

/*****************/
/***** LABELS ****/
/*****************/
.cv-lbl {

}
.cv-lbl-carpetaImatgesLbl {

}

.cv-lbl-carpetaPrinterLbl {

}

.cv-lbl-carpetaOrigenlbl {

}

.cv-lbl-selectPrinterlbl {

}

.cv-lbl-searchInterfacelbl {

}

.cv-lbl-wifinamelbl {

}

.cv-lbl-wifissidlbl {

}

.cv-lbl-connectInterfacelbl {

}

/********************/
/***** TEXTFIELD ****/
/********************/
.cv-tf {
	-fx-font-size: 8pt;
}
.cv-tf-carpetaImatgespathLbl {

}
.cv-tf-carpetaPrinterpathLbl {

}
.cv-tf-carpetaOrigentf {

}
.cv-tf-wifinametf {

}
.cv-tf-wifissidtf {

}

/***************/
/***** VBOX ****/
/***************/
.cv-vbox {

}
.cv-vbox-carpetasBox{

}

.cv-vbox-wifisBox{

}

.cv-vbox-rootBox{
	-fx-alignment: center;
	-fx-background-color: rgba(0,0,0,0.7);
	-fx-padding: 25px;
	-fx-spacing: 25px;
}

/***************/
/***** HBOX ****/
/***************/
.cv-hbox {

}
.cv-hbox-carpetaImatgesBox {
	-fx-alignment: center-left;
}
.cv-hbox-carpetaPrinterBox {
	-fx-alignment: center-left;
}
.cv-hbox-carpetaOrigenBox {
	-fx-alignment: center-left;
}
.cv-hbox-selectPrinterBox {
	-fx-alignment: center-left;
}
.cv-hbox-searchInterfazBox {

}
.cv-hbox-wifinamebox {

}
.cv-hbox-wifissidbox {

}
.cv-hbox-connectInterfazBox {

}
.cv-hbox-btnsBox {
	-fx-alignment: center ;
	-fx-spacing: 25px;
}
.cv-hbox-acceptcancelbox {
	-fx-alignment: center ;
	-fx-spacing: 25px;
}
